.header-body{
    background-color: #00008B;
    color: white;
}
header>img{
    border-radius: 50%;
}
.a{
    position: relative;
    left: 75px;
}
.b{
    margin:  auto 0 auto ;
    font-size: 24px;
    font-weight: bold;
    margin-left: 300px;
}
.c{
    display: inline;
    position: relative;
    left:250px;
    top: -30px;
}
li a{
    text-decoration: none;
    color: #fff;
}
.main-body{
    height:550px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
}
table,td,th{
    border: 1px solid white;
    width: 50%;
    height: 25px;
    font-size: 24px;
    text-align: center;
}
tr{
    height:100px;
}
table{
    border-collapse: collapse;
    background-color: #AFEEEE;
}
.footer-body{
    color: #fff;
    background-color: #00008B;
    display: grid;
    grid-template-columns: 70% 30%;
}
.c{
   padding: 25px 25px 0 25px;
    margin: 40px 25px 0 25px;
}
.d{
    text-align: center;
    margin: auto;
    padding: 15px; 
    font-size: 12px;
    font-weight: lighter;
}
li{
    list-style: none;
}
.one{
    display: grid;
    grid-template-columns: 50% 50%;
}
section>img{
    border-radius: 50%;
    height:250px;
    width:250px;
    margin-left: 200px;
}
.child{
    position: relative;
    margin-right: 50% ;
    top: 50px;
    font-size: 24px;
}
.two{
    margin-left: 50%;
    
}
.button{
    background-color: rgb(17, 0, 255);
    color: white; 
    font-weight: bold;
    border-radius: 15px;
}